// Insert your styles here, using LESS

body {

  .navBar {
    background-color: #fab;
    height: 150px;
    
    img {
      padding: 20px;
    }
  }

  .chatContainer {
      display: flex;
      height: 500px;
      margin: 0 auto;
  
      .userContainer {
        background-color: palegreen; 
        flex-grow: 1;
      }

      .chat-window {
        flex-grow: 2;
        height: 500px;
        background-color: rgba(155, 155, 155, .1);
        box-shadow: 2px 2px 10px rgba(155, 155, 155, .2);

        .input-box { 
            flex-grow: 2;
            align-self: flex-end;
            height: 30px;
            .input {
                &.input-big {
                    width: 89%;
                    font-size: 1.2em;
                }
            }
            .btn {
                border-radius: 0px;
                font-size: 1.2em;
                background-color: rgba(50, 200, 50, .6);
                color: white;
            }
        }
      }

      .roomContainer {
        background-color: orchid;
        flex-grow: 1;
      }
  }
  .pull-right {
      float: right;
  }
  .nick-window {
    background: rgb(245, 207, 214);
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 100px;
    margin: 80px auto 0;
    width: 290px;
    padding: 40px;
  }  
  .inputs {
    display: inline;
    text-align: center; 
    font-size: 100%;
  }

  input[type="text"], input[type="submit"] {
    padding: 12px 30px;
    margin: 20px 0;
    box-sizing: border-box;
  }
  #enterbutton {
    height: 44px;
    padding: 12px 20px;
    
    border: 1px black;
    font-size: 16px;
  }

}
