body {

  .navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #E26762;
    height: 150px;
    
    .imgs {
      flex-grow: 1;
      padding: 20px;
    }
    .user {
      flex-grow: 2;
      font-size: 32px;
      font-family: Arial, Helvetica;
      color: grey;

    }
    
  }

  .nick-window {
    background: #E26762;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 100px;
    margin: 80px auto 0;
    width: 290px;
    padding: 40px;
      .inputs {
        display: inline;
        text-align: center; 
        font-size: 100%;
        padding: 12px 30px;
        margin: 20px 0;
        box-sizing: border-box;
      }
    }

  .chatContainer {
      display: flex;
      height: 500px;
      margin: 0 auto;

  
      .userContainer {
        background-color: palegreen; 
        flex-grow: 2;

        ul {
    
          margin: 10px !important;
          padding-left: 10px !important;
          list-style-type: none !important;
          -webkit-padding-start: 0px !important;
        }

        li {
          margin-right: 5px;
          -webkit-padding-start: 0px !important;
          padding-left: 10px !important;
          
        }

        .userButton {
          border: none;
          color: black;
          text-align: left;
          text-decoration: none;
          padding-left: 10px;
          margin: 4px 2px;
          //-webkit-transition-duration: 0.4s; /* Safari */
          //transition-duration: 0.4s;
          cursor: pointer;
        }

        .button5 {
          background-color: #e7e7e7;
          color: black;
          font-size: 15px;
          padding: 7px 25px;
          font-family: Arial, Helvetica, sans-serif;
        }
      
      }

      .chat-window {
        flex-grow: 2;
        height: 500px;
        border: 2px;
        background-color: rgba(155, 155, 155, .1);
        box-shadow: 2px 2px 10px rgba(155, 155, 155, .2);
          
            .pull-right {
              float: right;
            }
            .scroll {
              height: 420px;
              overflow:auto;
            }
            .roomname {
              background-color:  rgba(94, 92, 92, 0.11);
              color: rgba(50, 200, 50, .6);
              margin: 0px;
              padding-top: 10px;
              height: 34px;
              font-size: 21px;
              text-align: center;
              font-family: Arial, Helvetica;
            }
            .textLook {
              padding: 6px;
              font-size: 15px;
              font-family: Arial, Helvetica;
            }

            .input-box { 
                display: flex;
                align-content: flex-start;
                .input {
                  flex-grow: 2;
                  
                    &.input-big {
                        flex-grow: 1;
                        width: 89%;
                        font-size: 1.2em;
                    }
                }
              .btn {
                  border-radius: 0px;
                  font-size: 1.2em;
                  background-color: rgba(50, 200, 50, .6);
                  color: white;
              
              }
        }
      }
      .roomContainer {
          background-color: rgb(212, 209, 212);
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: baseline;

          ul {
    
            margin: 5px !important;
            padding-left: 5px !important;
            list-style-type: none !important;
            -webkit-padding-start: 0px !important;
          }

          li {
            margin-right: 2px;
            -webkit-padding-start: 0px !important;
          }

          .button {
         
            border: none;
            color: black;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
          }

          .button4 {
            background-color: #e7e7e7;
            color: black;
            font-size: 14px;
            padding: 9px 60px;

          }
        
          .button:hover {background-color: white;}

          .buttonNewRoom {

            background-color: #e7e7e7;
            color: black;
            font-size: 14px;
            padding: 9px 4px;

          }

          .textNewRoom {
            align-self: flex-start;
            display: inline-block;
            background-color: white;
            color: black;
            font-size: 14px;
            padding: 9px 6px;
            border: 2px;
            margin-left: 5px;

          }

          .buttonLeaveRoom {
            align-self: flex-end;
            background-color: #E26762;
            color: black;
            font-size: 15px;
            margin: 4px;
            padding: 9px 14px;
          }

      }
  }

  #enterbutton {
    height: 46px;
    padding: 12px 20px;
    
    border: 1px black;
    font-size: 16px;
  }


}